body {
    background-color: rgb(5, 0, 22);
    color: white;
}


/* Sección Menú*/
.menu {
    font-family: 'Bowlby One', cursive;
    display: grid;
    grid-template-columns: 2% 30% 1fr 2%;
    border-bottom: solid 4px rgb(6, 157, 218);
    font-size: 1.4em;
    height: 4em;
}

.menu__header__logo {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__logo {
    color: black;
    height: 2em;
}

.menu__header__list {
    grid-column: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__header__ul {
    display: flex;
    justify-content: space-around;
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-weight: 600;
}

.menu__header__ul__item {
    margin: 10px;
}

/* Sección Principal*/

.main {
    box-sizing: border-box;
    height: 85vh;
    padding: 2%;
    font-family: 'Bowlby One', cursive;
}

.main__tittle {
    display: flex;
    flex-direction: column;
}

.main_edwar {
    font-size: 9rem;
    color: rgb(228, 195, 11);
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
}

.main_leon {
    background-color: rgb(228, 195, 11);
    padding-top: 2.5rem;
    color: rgb(5, 0, 22);
    font-size: 12.2rem;
    align-self: center;
}

.main_description {
    color: rgb(228, 195, 11);
    font-size: 2.65rem;
    align-self: center;
}

.main__div {
    display: flex;
    flex-direction: column;
}

.main__subtittle {
    color: rgb(6, 157, 218);
    align-self: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}

/* Sección Sobre Mi*/

.about {
    background-color: green;
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
}

.about__div {
    grid-column: 2;
}

.about__h3 {
    font-size: 3rem;
}