body {
    background-color: rgb(23, 20, 34);
    color: white;
}

.menu {
    display: grid;
    grid-template-columns: 10% 30% 1fr 10%;
    border-bottom: solid 4px rgb(180, 2, 180);
    font-size: 1.4em;
}

.menu__header__logo {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__logo {
    color: black;
    height: 2em;
}

.menu__header__list {
    grid-column: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__header__ul {
    display: flex;
    justify-content: space-around;
}

.menu__header__ul__item {
    margin: 5px;
}